 body {
    background-color: DarkMagenta;
    }
    
h1 {
    font-family: Baloo Bhaijaan, cursive;
    font-size: 60px;
    color: Lime;
}

h3 {
    font-family:Pacifico, cursive;
    font-size:80px;
    color: Lime;
    Text-align: Center;
}

#para1 {
    line-height:200%;
    font-family:Gloria Hallelujah, cursive;
    color: Lime;
    font-size:20px; 
}

ol {
    font-size:15px;
    color:Lime;
}

ul{
    font-size:10px;
    color:Lime;
}

a {
   color: OrangeRed; 
}    

#list1 {
    text-decoration:underline;
    font-family:Play, sans-serif;
    font-size: 30px;
}

#list2 {
    text-decoration:underline;
    font-family:Amatic SC, cursive;
    font-size:29px;
}

#list3 {
    text-decoration:underline;
     font-family:Play, sans-serif;
    font-size:28px;
}

#list4 {
    text-decoration:underline;
    font-family:Inconsolata, monospace;
    font-size:27px;
}

#list5 {
    text-decoration:underline;
    font-size:26px;
}

#FQ1,#FQ2,#FQ3,#FQ4 {
    line-height:125%;
    font-family:Play, sans-serif;
    font-size:20px;
}

#I1,#I2,#I3,#I4{
    line-height:125%;
     font-family:Play, sans-serif;
    font-size:20px;
}

#FTG1,#FTG2,#FTG3,#FTG4 {
    line-height:125%;
    font-size:20px;
    font-family:Inconsolata, monospace;
}

#FA1,#FA2,#FA3,#FA4{
    line-height:125%;
    font-size:20px;
}

ul{
    list-style-type: square;
}


ol{
     list-style-type: lower-alpha;
}

div {
    margin-left:15%;
    margin-right:15%;
}

.header {
    border:solid red 15px;
    background-color:blue;
    padding:0px 30px 30px 30px;
    margin-top:0;
    
}

#spiderman {
    height:200px;
    width:50%;
    margin:auto;
    display:block;
}

#indianapolis {
    display:block;
    margin:auto;
    width:60%;
    
}

img {
    border:solid black 3px;
    display:block;
    border-radius:50%;
}

.list {
    color:green;
    margin-left:10px;
}

.topics{
    font-size: 20px;
    list-style-type: none;
}

li {
    list-style-type: circle;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: white;
}

a:active {
    color: blue;
}

ul:hover {
    font-size:30px;
}
