   body {
    background-color: white;
    }
    
h1 {
    font-family: Baloo Bhaijaan, cursive;
    font-size: 60px;
    color:rgb(128, 128, 128);
}

h3 {
    font-family:Pacifico, cursive;
    font-size:80px;
    color:rgb(128, 128, 128);
    Text-align: Center;
}

#para1 {
    line-height:200%;
    font-family:Gloria Hallelujah, cursive;
    color:rgb(128, 128, 128);
    font-size:20px; 
}

ol {
    font-size:31px;
    color:black;
}

ul{
    
    font-size:30px;
    color:black;
}
#list1 {
    text-decoration:underline;
    font-family:Play, sans-serif;

}

#list2 {
    text-decoration:underline;
    font-family:Amatic SC, cursive;

}

#list3 {
    text-decoration:underline;
     font-family:Play, sans-serif;

}

#list4 {
    text-decoration:underline;
    font-family:Inconsolata, monospace;
}

#list5 {
    text-decoration:underline;
    font-family:Inconsolata, monospace;
}

a {
   color: OrangeRed; 
}    



li{
     font-family:Play, sans-serif;
    font-size:20px;
}

ul{
    list-style-type: square;
}


ol{
     list-style-type: lower-alpha;
}

div {
    margin-left:15%;
    margin-right:15%;
}

.header {
    border:solid black 3px;
    background-color:maroon;
    padding:0px 30px 30px 30px;
    margin-top:0;
    
}

#spiderman {
    height:200px;
    width:50%;
    margin:auto;
    display:block;
}

#indianapolis {
    display:block;
    margin:auto;
    width:60%;
    
}

img {
    border:solid black 3px;
    display:block;
    border-radius:50%;
}

.list {
    color:green;
    margin-left:10px;
}

.topics{
    font-size: 20px;
    list-style-type: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: white;
}

a:active {
    color: blue;
}

li:hover {
    font-size:36px;
}

.active {
    background-color:brown;
}    

#NavbarUl {
    position: fixed;
    top: 0;
    width: 100%;
    border: 2.5px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
}

#NavbarList {
    border-right:1px solid black;
    float:left;
}

#NavbarList,#NavbarAnchor {
    display: block;
    color: white;
    text-align:center;
    padding: 6px 6px;
    text-decoration: none;
}

#NavbarList,#NavbarAnchor:hover{
     background-color:maroon;
}
    
