.page_filler  {
    background-image: url("coolgif.gif");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:none;
}

.page_fillerTwo  {
    background-image: url("coolgif2.gif");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color:maroon;
}

.Title {
    margin-top:4.7%;
    margin-left:38%;
}

.btn-danger {
    margin-left:40%;
}

.btn-primary {
    margin-left:5%;
}    

.ItemOne_Description {
    margin-left:25%;
    position:absolute;
    top:122.5%;
    display:none;
}

.ItemTwo_Description {
    margin-left:27%;
    position:absolute;
    top:175%;
    display:none;
}

.ItemThree_Description {
    margin-left:27%;
    position:absolute;
    top:219.5%;
    display:none;
}

.ItemFour_Description {
    margin-left:27%;
    position:absolute;
    top:255%;
    display:none;
}

.ItemOne_Picture {
    margin-left:5%;
}

.ItemTwo_Picture {
    margin-left:5%;
}

.ItemThree_Picture {
    margin-left:5%;
}

.ItemFour_Picture {
    margin-left:5%;
}

.ItemOne_Title {
    margin-left:5%;
}

.ItemTwo_Title {
    margin-left:5%;
}

.ItemThree_Title {
    margin-left:5%;
}

.ItemFour_Title {
    margin-left:5%;
}

.form-inline {
    margin-left:7%;
}